.github/

node_modules/

*.log
yarn.lock
package-lock.json
pnpm-lock.yaml

.DS_Store

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json